.content {
    position: relative;
    // width: 100vw;
    height: 100vh;
    
    left: 50%;
    transform: translate(-50%);
    padding: 18px; 
    z-index: 1;
    display: table;
    mix-blend-mode: difference;
    
  }
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100vh;
}

.contactdiv{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.contactdiv video{
    display: block;
    position: absolute;
    z-index: 0;
    width: 200vw;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;

    // @media screen and (max-aspect-ratio: 239/100) {
    //     width: auto;
    //     height: 100%;
    //   }
}

.overlay{
    // position: absolute;
    font-family: Rubik;
    font-size: 60px;
    color: #B1B1B1;
    margin-left: 0;
    margin-top: 0;
    // top:0;
    // left:0;
    z-index: 1;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-content: center;
}

#contactbody{
    font-size: 40px;
    // margin-top: 16%;
    // margin-left: -75%;
    // text-align: center;
}

.cinfo{
    margin-top: 40px;
}