.admincontainer{
    height: 100%;
    width: 100vw;
    display: flex;
    background-image: url('./../img/adminbglowres.jpg')
}


.adminnav{
    width: 30vw;
}

.admintitle{
    height: 20%; 
    font-size: 40px;
    color: #D3D3D3;
    padding-top: 20%;
    // background-color: pink;
    font-family: Rubik;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    height: 50%;
    padding-left: 5%;
    // background-color: #8282F6;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
}

.showdata{
    min-height:100vh;
    width: 100vw;
    color: #E4E4E4;
    // background-color: rgba(184, 178, 147, 0.32);
    padding-top: 10%;
    text-align: center;
}


.searchbyemail input{
    width:150px;
}

.addcustomer input{
    width: 220px;
}

.deletecustomerbyname input{
    width: 100px;
}

.buttons button{
    font-size: 14px; 
    color: #DCDCDC;
    margin-top:5%;
    border-radius: 30px;
    background-color: rgba(109, 107, 107, 0.27);
    margin-right: 1%;
}



#adminpnshow{
    margin-bottom: 25px;
}