.largewindow{
    height: 100px;
    background-image: url('../img/gallery/weddingdress.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top:400px;
    // border-radius: 50%;
}

.largewindow2{
    height: 250px;
    background-image: url('../img/gallery/bqshinbulores.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:655px;
    padding-top: 400px;
}

.largewindow3{
    height: 250px;
    background-image: url('../img/gallery/backhamgge.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:655px;
    padding-top: 400px;
}

.largewindow4{
    height: 250px;
    background-image: url('../img/gallery/holdhandslowres.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:655px;
    padding-top: 400px;
}

.largewindow5{
    height: 250px;
    background-image: url('../img/gallery/banjilowres.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:655px;
    padding-top: 400px;
}

.largewindow6{
    height: 250px;
    background-image: url('../img/gallery/ringsreadylowres.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:655px;
    padding-top: 400px;
}


.largewindow7{
    height: 250px;
    background-image: url('../img/gallery/traditionaldrink.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top:655px;
    padding-top: 400px;
    // margin-bottom: 100px;
}




.gallFrameContainer{
    padding-top: 300px;
    background-color: #1F1F1F;
}

#galframetitle{
    padding-bottom: 100px;
    font-family: Rubik;
    font-size: 55px;
    color:#D7D7D7;
    text-align: center;
}