#galvid{
    width: 100%;
    height: 100%;
    // display: table;
}


.gallery{
    text-align: center;
    margin-top:0;
    margin-bottom: -5px;
    position: relative;
}

.gallery video{
    position: relative;
    z-index: 0;
}

.weddingPics{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    margin-left: 22%;
    margin-top: 12%;
}

.imgRow{
    display: flex;
    // justify-content: center;
    // align-content: space-between;
}

#galimg{
    height: 220px;
    width: 350px;
    // margin: 10px;
}

.columns{
    margin: 10px;
    position: relative;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease-in-out;
}
.columns.is-showing{
    opacity: 1;
    transform: translateX(0px);
}

#galTitle{
    font-size: 50px;
    font-family: Rubik;
    color: #2c2c2c
}